footer {
  background-color: #283d56d9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  color: white;
}
footer .about,
footer .about h2,
footer .about p {
  margin: 0.5em 0;
}
.about .Icon {
  margin: 0.5em 0.8em;
  font-size: 1.5rem;
  color: whitesmoke;
}
@media screen and (max-width: 950px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
  }
  .contact {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 400px) {
  footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
  }
  .contact {
    grid-row: 1;
    grid-column: 1;
  }
}
