.CoursesContainer{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    border-radius: 10px;
    box-shadow: black 0 0 10px;
}
.CoursesContainer img{
    margin: 1em 0;
    max-width: 250px;
}
.CoursesContainer h5{
    width: 80%;
    text-align: center;
    margin: 1em 0;
}
.CoursesContainer h4{
    margin-bottom: 1em;
    font-size: 1.5rem;
}
.CoursesContainer button{
    margin-bottom: 1.5em;
    width: 175px;
    height: 40px;
    border-radius: 7px;
    cursor: pointer;
}

