.Courses{
    width: 80%;
    display: grid;
    grid-template-areas: "CoursesContainer CoursesContainer CoursesContainer";
    justify-content: center;
    margin: 0 auto;
}
@media screen and (max-width:950px){
    .Courses{
      
        grid-template-areas: " CoursesContainer";
      
    }
}