.CheckoutContainer {
  background-color: white;
  display: grid;
  grid-template-areas: " one two";
}
.checkoutCard .Card {
  width: 90%;
  background-color: whitesmoke;
  margin: 2em auto;
  box-shadow: black 0 0 10px;
  display: grid;
  grid-template-areas: " one two three";
  height: 150px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}
.checkoutCard .Card img {
  height: 140px;
}
.formAndLecture h1 {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.formAndLecture h1 button{
  margin-left: 1em;
  width: 175px;
  height: 50px;
  border-radius: 7px;
  background-color: #36A420;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
}
.formChecout{
  position: fixed;
  right: 100px;
  bottom: 200px;
}