.heroImage {
  height: 100vh;
  width: 100%;
  background-image: url("./hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* z-index: -1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heroImage::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.btnOne{
  z-index: 3;
  text-align: center;
}
.btnOne h1{
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 2em;
}
.btnOne .btn{
  width: 15rem;
  color: white;
  height: 3.5rem;
  border: none;
  background-size: 300% 100% ;
  font-size: 1.7rem;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
}
.btnOne .btn:hover{
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btnOne .btn:focus{
outline: none;
}
.btnH{
  background-image: linear-gradient(to right,#E8F1F8,#166FE5,#36A420,#485A6F);
}

