.heroImage {
  height: 100vh;
  width: 100%;
  background-image: url("./hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.heroImage .btnOne{
  position: absolute;
  bottom: 200px;
left: 100px;
}
.heroImage .btnOne h1{
  color:white;
}