.header {
  text-align: center;
  margin: 2em auto 0;
}
.LectureAndCourses {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  /* grid-template-rows: minmax(100px,auto); */
}

.LectureAndCourses a {
  text-decoration: none;
}
.Lecture {
  width: 95%;
  grid-column: 2;
  grid-row: 1;
}
.Courses {
  width: 95%;
  grid-column: 3;
  grid-row: 1;
}
.LectureAndCourses .Lecture,
.LectureAndCourses .Courses {
  background-color: whitesmoke;
  border-radius: 7px;
  box-shadow: 0 0 10px #0000008c;
  display: flex;
  /* flex-direction: column;
  justify-content: center; */
  align-items: center;
  margin: 5em auto;
}

.LectureAndCourses .Lecture img,
.LectureAndCourses .Courses img {
  width: 300px;
  height: 200px;
  margin: 2.5em 0 0 0.5em;
}
.LectureAndCourses .Lecture h2,
.LectureAndCourses .Courses h2,
.LectureAndCourses .Lecture h3,
.LectureAndCourses .Courses h3 {
  margin: 0 0 1.5em;
  text-align: center;
}

.LectureAndCourses .Lecture button,
.LectureAndCourses .Courses button {
  text-align: center;
  width: 175px;
  height: 40px;
  border-radius: 7px;
  cursor: pointer;
  margin: 0 auto 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .LectureAndCourses {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    /* grid-template-rows: minmax(100px,auto); */
  }
}

@media screen and (max-width: 870px) {
  .LectureAndCourses {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .Lecture {
    width: 70%;
    grid-column: 1;
    grid-row: 1;
  }
  .Courses {
    width: 70%;
    grid-column: 1;
    grid-row: 2;
  }
}
@media screen and (max-width: 440px) {
  .LectureAndCourses .Lecture img,
  .LectureAndCourses .Courses img {
    width: 250px;
    height: 200px;
    /* margin: 2.5em auto 0.5em; */
  }
  .Lecture {
    width: 95% !important;
  }
  .Courses {
    width: 95% !important;
  }
}
