.register {
  grid-area: reg;
  width: 80%;
 
  margin: auto;
  
}
.login {
  grid-area: login;
  width: 80%;
  margin: auto;

}

.signInUp {
  background-color: whitesmoke;
  display: grid;
  grid-template-areas: "reg login";
  /* grid-gap: 2em; */
  width: 100%;
  height: 550px;
}


@media screen and (max-width:950px) {
  .signInUp {
   
    grid-template-areas: "reg "
    "login";
    height: 1000px;
  
  }
  .register {
    grid-area: reg;
    width: 100%;
   
    margin: 0 auto;
    
  }
  .login {
    grid-area: login;
    width: 100%;
    margin: 0 auto;
  
  }
}
