.registerContainer {
  margin-left: 8em;
  display: flex;
  height: 450px;
  width: 80%;
  background-color: white;
  box-shadow: 0 0 10px black;
  justify-content: center;
  flex-direction: column;
  border-radius: 3%;
  align-items: center;
}
.registerForm {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.registerForm input {
  padding-left: 1em;
  display: block;
  width: 90%;
  border: none;
  background-color: #e3f0ff;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1;
  transition: box-shadow 0.22s ease-out;
  height: 3rem;
  margin: 0.8em 0;
}
.registerForm button {
  width: 175px;
  background-color: #36a420;
  height: 40px;
  color: white;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  margin-top: 2em;
  cursor: pointer;
}
@media screen and (max-width:950px){
  .registerContainer{
    margin: 5em auto;
  }
}
