.Lecture{
  width: 80%;
  display: grid;
  grid-template-areas: "cardContainer cardContainer cardContainer";
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width:950px){
  .Lecture{
    
      grid-template-areas: " cardContainer";
    
  }
}