
.ContainerCalender{
  display: flex;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 4px black;
  justify-content: center;
  flex-direction: column;
  border-radius: 3%;
  align-items: center;
}
.ContainerCalender form{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.ContainerCalender .inputDate{
  padding-left: 1em;
  display: block;
  width: 90%;
  border: none;
  background-color: #e3f0ff;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1;
  transition: box-shadow 0.22s ease-out;
  height: 3rem;
  margin: 0.8em 0;
}
.ContainerCalender .btnCalender{
  width: 70%;
  background-color: #36A420;
  height: 40px;
  color: white;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  margin: 2em 0;
  cursor: pointer;

}
.ContainerCalender label{
 font-size: 1.rem;
  width: 90%;

}
.ContainerCalender .today{
  /* display: flex; */
  text-align: center;
margin: 2em auto;
font-size: 1.2rem;
}