.ContainerCalender form{
    display: flex;
    flex-direction: column;
}
.ContainerCalender .today{
    margin: 2em auto;
}

.inputDate{
    height: 40px;
    font-size: large;
    margin: 0 0 2em;
}
.btnCalender{
    height: 40px;
    color: white;
    background-color: #36A420;
    width: 175px;
    margin: 0 auto;
    border-radius: 7px;
    border: none;
    font-size: 1.1rem;
}

